header.hide {
  transform: translateY(-100%);
}

header {
  width: 100%;
  height: 7rem;
  position: fixed;
  z-index: 9997;
  top: 0;
  left: 0;
  padding: 0 10%;
  transform: translateY(-0%);
  transition: transform 0.5s ease;

  .header-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 3px;
  }

  .logo {
    cursor: pointer;
    font-size: 2.8rem;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    letter-spacing: 2px;

    p {
      font-size: 1.8rem;
      font-weight: 400;
      padding-bottom: 2px;
    }
  }

  .gnb {
    font-size: 1.8rem;
    display: flex;
    gap: 25px;
    padding-bottom: 2px;

    .gnb_list {
      letter-spacing: 2px;
      a {
        transition: color 0.3s ease;
        &:hover {
          color: #ec3b00;
        }
      }
    }
  }

  // .mobile-btn {
  //   display: none;
  //   cursor: pointer;
  //   width: 35%;

  //   img {
  //     width: 100%;
  //   }
  // }
}
