@use "./reset.scss";
@use "./fullpage.css";
@use "./coding.scss";
@use "./design.scss";
@use "./aboutMe.scss";
@use "./header.scss";

@font-face {
  font-family: "Cafe24Decoshadow";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decoshadow.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InkLipquid";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  // font-family: "Noto Sans KR", sans-serif;
  font-family: arial, helvetica;
  color: #fff;
  width: 100vw;
  // overflow-x: hidden;
}

main {
  width: 100%;
}
// ================ 공통클래스 =========================
.tab_title {
  font-size: 5rem;
}
// =========================================
.hover_effect {
  font-family: "InkLipquid";
  font-size: 1.8rem;
  padding: 0px 0px 8px 8px;
}

.click_effect {
  font-family: "InkLipquid";
  font-size: 2.2rem;
}

//hover the screen
.animate__flash {
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

// ======================================
// ======================================
// ======================================

.fp-overflow {
  // width: 100vw;
  height: 100vh;
}

.fp-watermark {
  display: none;
}

.fp-slidesNav.fp-bottom {
  ul {
    display: flex;
    justify-content: center;
  }

  span {
    background-color: white;
  }
}

// ======================================

h1 {
  //   font-size: calc(2em + 2vw);
  //   margin: 0;
}

.fp-section:nth-child(1) {
  background-image: linear-gradient(128deg, #40afff, #3f61ff);
  // background: url("/images/white-floor.jpeg") no-repeat;
  // background: url("/images/back1.jpg") no-repeat;
  // width: 100%;
  // height: 100%;
  // background-size: contain;
  // background-size: cover;
  // background-position: center;
  // transform: background rotate(90deg);
}

.fp-section:nth-child(2) {
  background-image: linear-gradient(128deg, #ff9a3f, #ff4b40);
}

.fp-section:nth-child(3) {
  background-image: linear-gradient(128deg, #fc40ff, #543fff);
}

/* Custom arrow styles */
.my-arrow {
  font-size: 4em;
}
